#mensagensErro{
    color: red;
}

.fadeOut{
    opacity: 0;
    transition: 0.5s;
}

#pesquisarNaTabela {
    width: 280px;
    height: 30px;
    margin-bottom: 10px;
}

.invisivel {
    display: none;
}