<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheet/style.css">
  </head>
  <body>
    <h1><%= title %></h1>

    
    <p>welcome to express</p>
  </body>
</html>
